@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

::-webkit-scrollbar{
  background-color: #dedede;
  width: 10px;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb{
  background-color:white ;
  border-radius: 20px;
}

html{
  background-color: #ece6cc;
}
.frame{
  overflow-y: scroll;
  margin:auto;
  margin-top: 15vh;
  width: 50%;
  height: 70vh;
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  background-color: #f3f3f3;
}
.frame input{

  margin-top:5vh;
  margin-bottom: 10px;
}
.frame h2{
  font-family:'Architects Daughter', cursive;
  margin-top: 50px;
  margin-left: 10px;
}
.frame p{
  margin-left: 10px;
  font-size: 13px;
  font-family:'Architects Daughter', cursive;
}
.frame .search input{
  background-color: #dedede;
  margin-left: 10px;
  width:95%;
  height: 30px;
  border-radius: 10px;
  outline: none;
  border: none;
}
.add_button{
  background-color: #ffde66;
  border-radius: 20px;
  height: 30px;
  width: 70px;
  float: right;
  cursor: pointer;
  text-align: center;
}
.add_button a {
  color: black;
  font-size: 13px;
  align-items: center;
  text-decoration: none;
  font-family:'Architects Daughter', cursive;
}


/* List */
.list ul{
  margin:auto;
}
.lists ul li{
  list-style: none;
  border: 1px solid #dedede;
  width: 95%;
  height: 50px;
  border-radius: 10px;
  background-color: #dedede;
  margin-top: 10px;
}
.add_new{
  display: block;
  margin: 0 auto;
  width: 50px;
  background-color: white;
  border: none;
  height: 85%;
  outline: none;
  border-radius: 20px;
}

.New_frame input{
  margin-top: 60px;
  width: 95%;
  height: 600px;
}
button{
  border: none;
  background-color: transparent;
  cursor: pointer;
}
